.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 3vw;
  border-radius: 5px;
  position: relative;
}

.modal-button-close {
  background-color: #6D850F;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 25px;
  cursor: pointer;
}

.modal-icon-close {
  border-radius: 50%;
  width: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
}